/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/

/* 
    Created on : 06-Jun-2025, 4:00:00 pm
    Author     : Gukan
*/
header{
    position: relative;
}

#topic-container{
    height: 100px;
    border: 1px solid black;
    padding-top: 30px;
}


input{
    position: absolute;
    top:104px;
    right: 4px;
    height: 30px;
    width: 30px;
    
}

.slide{
    height: 100%;
    width: 180px;
    position: absolute;
    top: calc(100px+40px);
    right: -180px;
    transition: 0.5s ease;
    background-color: #fff;
    /*transform: translateX(180px); */
}

#sl{
    list-style: none;
   
}

#sl li a{
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    transition: 0.2s ease-out;
    
    
}

.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 104px;
    right:4px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0.3,0);
}

input:checked ~ .slide{
    transform: translateX(-180px);
    
}

.toggle .common{
    position: absolute;
    height: 3px;
    width: 20px;
    background-color: black;
    border-radius: 50px;
    transition:0.3s ease;
    
}

.toggle .top-line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.toggle .mid-line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.toggle .bot-line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

input:checked ~ .toggle.top-line{
    left: 2px;
    top:14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle.bot-line{
    left: 2px;
    top:14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle.mid-line{
    opacity: 0;
    transform: translateX(20px);
}


